<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list" *ngFor="let n of arrayMenu">
            <a mat-list-item routerLink="{{ n.route }}">
                <i class="material-icons">
                    {{ n.icon }}
                </i>
                {{ n.title }}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>